

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BankBross Bankacılık Hizmetleri</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Invest project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/invest/styles/bootstrap4/bootstrap.min.css" rel="stylesheet" />
   
    <link href="~/invest/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/invest/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/invest/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/invest/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/invest/styles/financial.css">
    <link rel="stylesheet" type="text/css" href="~/invest/styles/financial_responsive.css">
</head>
<body>

    <div class="super_container">

        <!-- Home -->

        <div class="home">
            <div class="home_slider_container">

                <!-- Home Slider -->

                <div class="owl-carousel owl-theme home_slider">

                    <!-- Slider Item -->
                    <div class="owl-item">
                        <div class="slider_background" style="background-image:url(../../invest/images/financial.jpg)">

                        </div>
                        <div class="container fill_height">
                            <div class="row fill_height">
                                <div class="col fill_height">
                                    <div class="home_slider_content">
                                        <img src="" />
                                        <h1>Paranızı Gelecek İçin Saklayın</h1>
                                        <div class="home_slider_text">Para...Para...Para... varlığı bir dert yokluğu yara...</div>
                                        <div class="link_button home_slider_button">
                                            <a href="#">
                                                devamını oku
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slider Item -->
                    <div class="owl-item">
                        <div class="slider_background" style="background-image:url(../../invest/images/financial.jpg)"></div>
                        <div class="container fill_height">
                            <div class="row fill_height">
                                <div class="col fill_height">
                                    <div class="home_slider_content">
                                        <h1>Parasız Adam Gereksiz Adamdır</h1>
                                        <div class="home_slider_text">Bugünlerde para büyük ihtiyaç...</div>
                                        <div class="link_button home_slider_button"><a href="#">devamını oku </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slider Item -->
                    <div class="owl-item">
                        <div class="slider_background" style="background-image:url(../../invest/images/financial.jpg)"></div>
                        <div class="container fill_height">
                            <div class="row fill_height">
                                <div class="col fill_height">
                                    <div class="home_slider_content">
                                        <h1>Paralar Paralar Açılmasın Aralar</h1>
                                        <div class="home_slider_text">Para hakkında son gelişmeleri takip edin...</div>
                                        <div class="link_button home_slider_button"><a href="#">devamını oku </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="home_slider_nav home_slider_prev d-flex flex-column align-items-center justify-content-center"><img src="~/invest/images/arrow_l.png" alt=""></div>
                <div class="home_slider_nav home_slider_next d-flex flex-column align-items-center justify-content-center"><img src="~/invest/images/arrow_r.png" alt=""></div>

            </div>
            @if (Session["ErrMsg"] != null)
            {
                <span style="text-align:center; margin-top:50px;">
                    <h3>@Session["ErrMsg"].ToString()</h3>
                </span>
            }
            <!-- Header -->

            <header class="header">

                <!-- Top Bar -->
                <div class="top_bar">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="top_bar_container d-flex flex-row align-items-center justify-content-start">
                                    <div class="logo_container">
                                        <div class="logo">
                                            <a href="#">
                                                <div class="logo_line_1"><span>Bank</span>Bross</div>
                                                <div class="logo_line_2">Bankacılık</div>
                                                <div class="logo_img"><img src="~/invest/images/banbrossLogo.jpg" alt=""></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="top_bar_content ml-auto">
                                        <div class="coins">
                                            <ul>
                                                <li>Dolar $10200</li>
                                                <li>Euro $979</li>
                                                <li>Bitcoin $230</li>
                                            </ul>
                                        </div>
                                        <div class="register_login">
                                            <div class="register"><a href="@Url.Action("Register", "Home")">kayıt ol</a></div>
                                            <div class="login"><a href="@Url.Action("Login", "Home")">Giriş</a></div>
                                        </div>
                                    </div>
                                    <div class="burger">
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Main Menu -->
                <div class="main_menu">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="main_menu_container d-flex flex-row align-items-center justify-content-start">
                                    <div class="main_menu_content">
                                        <ul class="main_menu_list">
                                            <li>
                                                <a href="#">
                                                    anasayfa
                                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         width="9px" height="5px" viewBox="0 0 9 5" enable-background="new 0 0 9 5" xml:space="preserve">
                                                    <g>
                                                    <polyline class="arrow_d" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="0.022,-0.178 4.5,4.331 9.091,-0.275 	" />















													</g>
												</svg>
                                                </a>

                                            </li>
                                            <li>
                                                <a href="about.html">
                                                    hakkımızda
                                                    <svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         width="9px" height="5px" viewBox="0 0 9 5" enable-background="new 0 0 9 5" xml:space="preserve">
                                                    <g>
                                                    <polyline class="arrow_d" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="0.022,-0.178 4.5,4.331 9.091,-0.275 	" />















												</g>
											</svg>
                                                </a>


                                            <li>
                                                <a href="#">
                                                    blog
                                                    <svg version="1.1" id="Layer_15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         width="9px" height="5px" viewBox="0 0 9 5" enable-background="new 0 0 9 5" xml:space="preserve">
                                                    <g>
                                                    <polyline class="arrow_d" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="0.022,-0.178 4.5,4.331 9.091,-0.275 	" />















												</g>
											</svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    iletişim
                                                    <svg version="1.1" id="Layer_16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         width="9px" height="5px" viewBox="0 0 9 5" enable-background="new 0 0 9 5" xml:space="preserve">
                                                    <g>
                                                    <polyline class="arrow_d" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="0.022,-0.178 4.5,4.331 9.091,-0.275 	" />















												</g>
											</svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="main_menu_contact ml-auto">
                                        <div class="main_menu_search">
                                            <div class="main_menu_search_button">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" enable-background="new 0 0 512 512" width="15px" height="15px">
                                                    <g>
                                                        <path class="mag_path" d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z" fill="#f4f4f8" />
                                                    </g>
                                                </svg>
                                            </div>
                                            <div class="main_menu_search_content">
                                                <form action="#">
                                                    <input class="search_input" type="search" placeholder="Keyword" required="required">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Menu -->

                <div class="menu">
                    <div class="menu_register_login">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="menu_register_login_content d-flex flex-row align-items-center justify-content-end">
                                        <div class="register"><a href="@Url.Action("Register", "Home")">Kayıt Ol</a></div>
                                        <div class="login"><a href="@Url.Action("Login", "Home")">Giriş</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <ul class="menu_list">
                        <li class="menu_item">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <a href="#">anasayafa</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu_item">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <a href="about.html">hakkımızda</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="menu_item">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <a href="contact.html">blog</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu_item">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <a href="contact.html">iletişim</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
        </div>

        <!-- Features -->

        <div class="features">
            <div class="container">
                <div class="row">

                    <!-- Features Title -->
                    <div class="col-lg-3 features_col">
                        <div class="features_content">
                            <div class="features_title_container">
                                <div class="features_subtitle">Biraz Göz Atın</div>
                                <div class="features_title">Gelecekte Bizi Neler Bekliyor Olacak</div>
                                <div class="features_text">Paranın insanı değiştirdiğini söylüyorlar bakacağız...</div>
                                <div class="link_button features_button"><a href="#">devamını oku </a></div>
                            </div>
                        </div>
                    </div>

                    <!-- Features Item -->
                    <div class="col-lg-3 features_col">
                        <div class="features_item">
                            <div class="features_image"><img src="~/invest/images/features_1.jpg" alt=""></div>
                            <div class="features_item_content">
                                <div class="features_item_title"><a href="#">Biz Paranızı Korumak İçin Çabalıyoruz</a></div>
                                <div class="features_item_text">
                                    <p>Paranın ne önemi var mühim olan insanlık demiş atalarımız gelin bir bakalım atalarımız doğru mu demiş...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Features Item -->
                    <div class="col-lg-3 features_col">
                        <div class="features_item">
                            <div class="features_image"><img src="~/invest/images/features_2.jpg" alt=""></div>
                            <div class="features_item_content">
                                <div class="features_item_title"><a href="#">Hızlı Destek Sürekli Güncel</a></div>
                                <div class="features_item_text">
                                    <p>Her an yanınızdayız canlı destek sistemlerimiz sayesinde herhangi bir probleminizi çözmek için buradayız... Güncellemeler ve yenilikler hakkında merak ettiğiniz bir şey olursa sormaktan çekinmeyin...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Features Item -->
                    <div class="col-lg-3 features_col">
                        <div class="features_item">
                            <div class="features_image"><img src="~/invest/images/features_3.jpg" alt=""></div>
                            <div class="features_item_content">
                                <div class="features_item_title"><a href="#">Herşey Dökümanlı</a></div>
                                <div class="features_item_text">
                                    <p>Dökümanlar yapılan işin açıklığı, anlaşılabilirliği ve gelişmesinde önemli rol oynarlar döküman bizim işimiz...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- CTA -->

        <div class="cta">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="cta_content text-center d-flex flex-row align-items-center justify-content-center">
                            <div class="cta_text"><a href="#">Bugün İyi Bir Yatırım Yapın!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Services -->

        <div class="services">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-row flex-wrap align-items-start justify-content-start">

                        <!-- Service -->
                        <div class="service">
                            <div class="service_icon"><img src="~/invest/images/service_1.svg" class="svg" alt=""></div>
                            <div class="service_title">Para Transferleri</div>
                            <div class="service_text">
                                <p>Para parayı çeker...</p>
                            </div>
                            <div class="service_link"><a href="#">devamını oku</a></div>
                        </div>

                        <!-- Service -->
                        <div class="service">
                            <div class="service_icon"><img src="~/invest/images/service_2.svg" class="svg" alt=""></div>
                            <div class="service_title">Finansal Planlar</div>
                            <div class="service_text">
                                <p>Dolar hareketli...</p>
                            </div>
                            <div class="service_link"><a href="#">devamını oku</a></div>
                        </div>

                        <!-- Service -->
                        <div class="service">
                            <div class="service_icon"><img src="~/invest/images/service_3.svg" class="svg" alt=""></div>
                            <div class="service_title">Güvenle&Özenle</div>
                            <div class="service_text">
                                <p>Güven önemli...</p>
                            </div>
                            <div class="service_link"><a href="#">devamını oku</a></div>
                        </div>

                        <!-- Service -->
                        <div class="service">
                            <div class="service_icon"><img src="~/invest/images/service_4.svg" class="svg" alt=""></div>
                            <div class="service_title">Özel Bankacılık</div>
                            <div class="service_text">
                                <p>Gizli para transferleri...</p>
                            </div>
                            <div class="service_link"><a href="#">devamını oku</a></div>
                        </div>

                        <!-- Service -->
                        <div class="service">
                            <div class="service_icon"><img src="~/invest/images/service_5.svg" class="svg" alt=""></div>
                            <div class="service_title">Denge</div>
                            <div class="service_text">
                                <p>Finansal dengenin önemi...</p>
                            </div>
                            <div class="service_link"><a href="#">devamını oku</a></div>
                        </div>

                        <!-- Service -->
                        <div class="service">
                            <div class="service_icon"><img src="~/invest/images/service_6.svg" class="svg" alt=""></div>
                            <div class="service_title">Cari Hareket Yönetimi</div>
                            <div class="service_text">
                                <p>Cari hesaplar hakkında...</p>
                            </div>
                            <div class="service_link"><a href="#">devamını oku</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- System -->

        <div class="system">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 nopadding">
                        <div class="system_content">
                            <div class="system_title_container">
                                <div class="system_subtitle">Nasıl Yapılır?</div>
                                <div class="system_title">Para Transferleri Nasıl Yapılır</div>
                                <div class="system_text">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</div>
                            </div>
                            <div class="system_items d-flex flex-row align-items-start justify-content-between flex-wrap">

                                <!-- System Item -->
                                <div class="system_item">
                                    <div class="system_item_icon"><img class="svg" src="~/invest/images/system_1.svg" alt=""></div>
                                    <div class="system_item_title">Kayıtlı</div>
                                </div>

                                <!-- System Item -->
                                <div class="system_item">
                                    <div class="system_item_icon"><img class="svg" src="~/invest/images/system_2.svg" alt=""></div>
                                    <div class="system_item_title">Online Bankacılık</div>
                                </div>

                                <!-- System Item -->
                                <div class="system_item">
                                    <div class="system_item_icon"><img class="svg" src="~/invest/images/system_3.svg" alt=""></div>
                                    <div class="system_item_title">Değişim</div>
                                </div>

                                <!-- System Item -->
                                <div class="system_item">
                                    <div class="system_item_icon"><img class="svg" src="~/invest/images/system_4.svg" alt=""></div>
                                    <div class="system_item_title">Altın Hesapları</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 nopadding">
                        <div class="system_image">
                            <div class="system_background" style="background-image:url(../../invest/images/system_1.jpg)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Info -->

        <div class="info">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 nopadding order-lg-1 order-2">
                        <div class="info_image">
                            <div class="info_background" style="background-image:url(../../invest/images/system_2.jpg)"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 nopadding order-lg-2 order-1">
                        <div class="info_content">
                            <div class="info_title_container">
                                <div class="info_subtitle">Lorem Ipsum</div>
                                <div class="info_title">Get to know the NASDAQ trading system</div>
                                <div class="info_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            </div>
                        </div>
                        <div class="info_items">

                            <!-- Info Item -->
                            <div class="info_item">
                                <div class="info_item_icon"><img src="~/invest/images/info_1.svg" alt=""></div>
                                <div class="info_item_content">
                                    <div class="info_item_title">Müşteri Memnuniyeti</div>
                                    <div class="info_item_category">Online Kurslar</div>
                                </div>
                            </div>

                            <!-- Info Item -->
                            <div class="info_item">
                                <div class="info_item_icon"><img src="~/invest/images/info_2.svg" alt=""></div>
                                <div class="info_item_content">
                                    <div class="info_item_title">En İyi Seçenekler</div>
                                    <div class="info_item_category">Paralı Tacirler</div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Logos -->

        <div class="logos">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <!-- Clients Slider -->

                        <div class="clients_slider_container">
                            <div class="owl-carousel owl-theme clients_slider">

                                <!-- Slider Item -->
                                <div class="owl-item clients_item">
                                    <img src="~/invest/images/logos_1.png" alt="">
                                </div>

                                <!-- Slider Item -->
                                <div class="owl-item clients_item">
                                    <img src="~/invest/images/logos_2.png" alt="">
                                </div>

                                <!-- Slider Item -->
                                <div class="owl-item clients_item">
                                    <img src="~/invest/images/logos_3.png" alt="">
                                </div>

                                <!-- Slider Item -->
                                <div class="owl-item clients_item">
                                    <img src="~/invest/images/logos_4.png" alt="">
                                </div>

                                <!-- Slider Item -->
                                <div class="owl-item clients_item">
                                    <img src="~/invest/images/logos_5.png" alt="">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Google Map -->

        <div class="map">
            <div id="google_map" class="google_map">
                <div class="map_container" style="background-image:url(../../invest/images/mapp.png)">
                    <div id="map"></div>
                </div>
            </div>
            <div class="map_contact">
                <div class="map_contact_inner d-flex flex-column align-items-start justify-content-center">
                    <div class="map_contact_title">Merkez Ofis</div>
                    <ul>
                        <li>Address: Manisa </li>
                        <li>Phone: 05393633694</li>
                        <li>Email: cbu@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer class="footer">
            <div class="container">
                <div class="row">

                    <!-- Footer Column -->
                    <div class="col-lg-3 footer_col">
                        <div class="footer_about">
                            <div class="logo_container footer_logo">
                                <div class="logo">
                                    <a href="#">
                                        <div class="logo_line_1"><span>bank</span>bross</div>
                                        <div class="logo_line_2">Bankacılık</div>
                                        <div class="logo_img"><img src="~/invest/images/banbrossLogo.jpg" alt=""></div>
                                    </a>
                                </div>
                            </div>
                            <p class="footer_about_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>

                    <!-- Footer Column -->
                    <div class="col-lg-3 footer_col">
                        <div class="footer_links">
                            <div class="footer_title">Kullanışlı Linkler</div>
                            <ul>
                                <li><a href="#">Anasayfa</a></li>
                                <li><a href="#">Hakkımızda</a></li>

                                <li><a href="#">Services</a></li>
                                <li><a href="#">Consulting</a></li>
                                <li><a href="#">Commodities</a></li>
                                <li><a href="#">Insurance</a></li>
                                <li><a href="#">Trades</a></li>
                                <li><a href="#">Planning</a></li>
                                <li><a href="#">Finance</a></li>

                            </ul>
                        </div>
                    </div>

                    <!-- Footer Column -->
                    <div class="col-lg-6 footer_col">
                        <div class="footer_newsletter">
                            <div class="footer_title">Subscribe to our newsletter</div>
                            <form action="#" class="footer_newsletter_form">
                                <input type="email" class="footer_newsletter_input" placeholder="Your E-mail" required="required">
                                <button class="footer_newsletter_button" type="submit">subscribe</button>
                            </form>
                            <div class="footer_newsletter_text">Sed ut iaculis elit, quis varius mauris. Integer ut ultricies orci, lobortis egestas sem. Morbi ut dapibus dui. Sed ut iaculis elit. Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec.</div>
                            <div class="footer_social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 order-md-1 order-2">
                            <div class="copyright_content d-flex flex-row align-items-center justify-content-start">
                                <div class="cr">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 order-md-2 order-1">
                        <nav class="footer_nav d-flex flex-row align-items-center justify-content-md-end">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </footer>
    </div>

    <script src="~/invest/js/jquery-3.2.1.min.js"></script>
    <script src="~/invest/styles/bootstrap4/popper.js"></script>
    <script src="~/invest/styles/bootstrap4/bootstrap.min.js"></script>
    
    <script src="~/invest/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/invest/plugins/easing/easing.js"></script>
    <script src="~/invest/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/invest/js/custom.js"></script>
</body>
</html>